{% extends 'base.html' %}
{% load humanize %}
{% load markdownify %}
{% block content %}
    <div class="container">
        <div class="row">

            <div class="col s12 m12">
                <h3 class="center-align">Front Page</h3>
                <ul>

                    {% for sub in paginate %}
                        <div class="card-panel grey lighten-3">
                            <div class="row">
                                <a
                                        href="{% url 'subnetworks:sub_name' sub.sub_network %}"
                                        class="sub-link">sub/{{ sub.sub_network }}</a>
                                <div class="col s12 m4 l3 center-align">
                                    <img style="width:150px;" src="/static/img/default-user-profile.jpg"/>
                                </div>
                                <div class="col s12 m8 l9">
                            <span class="title">
                    <a href="{{ sub.get_absolute_url }}" class="title-link">{{ sub.title|title|truncatechars:50 }}</a>
                    <br/>
                    <span class="sub-heading">submitted {{ sub.pub_date|naturaltime }} by <a
                            href="/accounts/{{ sub.author.id }}">{{ sub.author }}</a></span>
                             </span>

                                    <p>{{ sub.body|truncatechars:60|markdownify|safe }}</p></div>
                                <div class="col s9 offset-s3">
                                    <i class="liked material-icons ">star</i><span
                                        class="liked_number"> {{ sub.votes.count }}</span>
                                    <i class="comment material-icons">message</i><span
                                        class="message_number"> {{ sub.comment_count }}</span>
                                </div>
                            </div>

                        </div>


                    {% endfor %}

                </ul>
                <div class="pagination">
                    <span class="step-links">
                         {% if paginate.has_previous %}
                             <a href="?page={{ paginate.previous_page_number }}">previous</a>
                         {% endif %}

                        <span class="current">
                               Page {{ paginate.number }} of {{ paginate.paginator.num_pages }}.
                            </span>

                        {% if paginate.has_next %}
                            <a href="?page={{ paginate.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>


            </div>
        </div>
    </div>


{% endblock %}