{% extends 'base.html' %}
{% block content %}


    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h4>CREATE A NEW ACCOUNT</h4>
            </div>
        </div>
        <form class="col s8" method="POST" action="{% url 'accounts:signup' %}" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <input name="username" id="username" type="text" class="validate">
                    <label for="username">User Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="email" id="email" type="email" class="validate" autocomplete="off">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate" autocomplete="off">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="password2" id="password2" type="password" class="validate" autocomplete="off">
                    <label for="password2">Retype Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="service_name" id="service_name" type="text" class="validate">
                    <label for="service_name">Guide Service Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="phone" id="phone" type="text" class="validate">
                    <label for="phone">Telephone</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="sub" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Service Location</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="user_bio" id="user_bio" class="materialize-textarea"></textarea>
                    <label for="user_bio">Tell us about your company</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input.autocomplete').autocomplete({
                data: {
                    {% for sub in subnetwork.all %}
                        "{{ sub.sub_name }}": null,
                    {% endfor %}
                }
            });
            $('.modal').modal();
            {
            }
        });
    </script>
{% endblock %}