{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">

            <div class="col s12 m12">
                <h3 class="center-align">My Networks</h3>
                {% for sub in user_subs %}
                    <div class="card-panel hoverable grey lighten-3">
                <span class="title">
                     <a class="waves-effect waves-teal btn-flat"
                        href="{% url 'subnetworks:sub_name' sub.sub_name %}">{{ sub.sub_name }}</a>
                </span>
                        <span style="float:right">
                        <div class="chip">
                            {{ sub.number_of_followers }} followers
                        </div>
                        <div class="chip">
                            {{ sub.number_of_posts }} posts
                        </div>
                        </span>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>
    </div>
{% endblock %}